*{
    margin: 0;
    box-sizing: border-box;
}

:root{
    --background-color: #302f2fc6;
    --color: #fffbfbe9;
    --color2: #207ec6e0;
    --highlight: #568ee2;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-image: url(/img/behar-zenuni-797461-unsplash-scaled.jpg);
    background-size: cover;
    height: 100vh;
}

.show{
    display: flex !important;
}

header{
    z-index: 1000;
    background-size: cover;
    height: 100vh;
    backdrop-filter: blur(3);
}
.back{
    background-color: var(--background-color);
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;

}

nav{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
}

.nav-menu-link, .search a, .menu a, .links{
    color: var(--color);
    text-decoration: none;
}

nav img{
    margin:0;
    max-width: 9.5rem;
    transition: transform .3s ease;
    margin-right: 3rem;
}
nav img:hover{
    transform: scale(1.1);
    transition: .3s ease;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 0.9rem;
    padding: 0;
    margin: 0;
    line-height: 0;

}
nav ul li > a{
    display: block;
    position: relative;
    padding: 20px 15px 15px 15px;
    text-decoration: none;
    color: #fffbfbe9;
}
nav ul li .nav-menu-link::before{
    content: '';
    position: absolute;
    display: block;
    right: 0.55rem;
    bottom: 0;
    width: 80%;
    height: 2px;
    margin-bottom: -10px;
    transform: scaleX(0);
    transition: transform .3s ease;
    background-color: #207ec6e0;
}
nav ul li .nav-menu-link:hover::before{
    margin-bottom: -10px;
    transform: scaleX(1);
}
nav button {
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display: none;
}
nav .more{
    display: none;
}

nav .menu-more{
    margin-top: 4.1rem;
    margin-left: .5rem;
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: var(--background-color);
    min-width: 120px;

}

nav .menu-more a{
    padding: 18px;
    color: var(--color);
    text-decoration: none;
    transition: all .2s ease-out;
}
nav .menu-more a:hover{
    background-color: var(--color2);
    transition: all .4s ease-out;
}

/*body*/


@media screen and (max-width:1194px){
    
    nav .link-hide{
        display: none;
    }
    
    nav .more{
        display: flex;
    }
}

@media screen and (max-width:817px){
    nav{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    nav ul{
        display: none;
    }
    nav .mobile{
            display: flex;
            justify-content: space-between;
            max-width: 800px;
            margin: 0 auto;
        }
    
    nav .mobile .header{
        width: 817px;
    }

}

@media screen and (max-width:649px){

    nav{
        width: 100%;
        padding: 0;
        margin: 0;
    }

    nav ul + li{
        display: none;
    }
    
    nav .mobile{
        display: block;
    }
    nav .mobile .header{
        width: 649px;
    }
    body{
        height: 50vh;
    }

}
@media screen and (max-width:400px){

    nav{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    
    nav .mobile{
        display: block;
        
    }
    nav .mobile .header{
        width: 400px;
    }
    nav .mobile img{
        margin: 0;
        transition: transform .3s ease;
    }

}





