<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Movil - Contacto</title>
    <link rel="icon" href="../img/favicon.ico" type="ico"/>
    <link rel="stylesheet" href="../css/estilo.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Michroma&family=Sen&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header">
        <nav class="nav">
            <div class="nav-logo">
                <a href="../index.html"><img src="../img/ACCESO MOVIL-recortado.png" alt="acesso-movil"></a>
            </div>
            <ul class="nav-menu">
                <li class="nav-menu-item"><a href="../views/fundas.html">Fundas</a></li>
                <li class="nav-menu-item"><a href="../views/popsockets.html">Popsockets</a></li>
                <li class="nav-menu-item"><a href="../views/auriculares.html"</a></li>
                <li class="nav-menu-item"><a href="../views/templado.html">Templados</a></li>
                <li class="nav-menu-item"><a href="../views/comecable.html">Comecable</a></li>
                <li class="nav-menu-item"><a href="../views/arosdeluz.html">Aros de luz</a></li>
            </ul>
            <img class="nav-shopping" src="./img/shoppingCart1.png" alt="Compra">
        </nav>    
    </header>
<main>       
<!--SECCION PRINCIPAL-->
        <form class="form">
            <h1 class="form-title">Contacto</h1>
            <p class="form-p">¿Alguna duda o consulta? No dudes en consultarnos<p>

            <div class="form-contenedor">
                <div class="form-grupo">
                    <input type="text" id="nombre" required/>
                    <label for="nombre">Nombre</label>
                    <span class="barra"></span>
                </div>
                <div class="form-grupo">
                    <input type="text" id="apellido" required/>
                    <label for="apellido">Apellido</label>
                    <span class="barra"></span>
                </div>
                <div class="form-grupo">
                    <input type="email" id="correo" required/>
                    <label for="correo">Email</label>
                    <span class="barra"></span>
                </div>
                <div class="form-grupo">
                    <textarea name="" rows="3" required></textarea>
                    <label>Comentario</label>
                    <span class="barra"></span>
                </div>
            </div>
            <button type="submit" class="form-submit">Contactar</button>
        </form>
    </main>
    <footer>
        <h4><a href="../index.html">Inicio</a></h4>
        <h4>Siganos tambien en nuestras redes sociales</h4>
        <img class="logo-ig" src="../img/instagram-new-2016-glyph-logo-84CB825424-seeklogo.com.png" alt="">
        <img class="logo-fb" src="../img/d5e1cf0a96bad7c64e868128e6190c2f.png" alt="">
        <h4 class="copyright">Acceso movil - Encontra lo que buscas para tu celular!</h4>
        <p class="copyright"> ©2022 Todos los derechos reservados. </p>
        <h1 class="inicio"> <a href="#top">Acceso  <span class="logo-m">M</span>ovil</a></h1>
    </footer>
</body>
</html>