<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso Movil - Fundas</title>
    <link rel="icon" href="../img/favicon.ico" type="ico"/>
    <link rel="stylesheet" href="../css/estilo.css"/>
    <script src="https://kit.fontawesome.com/5ad47a4490.js" crossorigin="anonymous"></script>
    <script defer src="../js/main.js"></script>
</head>
<body>
    <header class="header">
        <div class="back">
        <nav class="nav">
            <ul class="nav-menu">
                    <button class="nav-toggle" aria-label="Abrir menú">
                    <i class="fa-solid fa-bars"></i>
                    </button>
                    <li><a href="../index.html" class="nav-logo"><img src="../img/ACCESO MOVIL-recortado.png" alt="acceso movil"></a></li>
                    <div>
                    <button class="nav-login"><i class="fa-solid fa-face-laugh-beam"></i></button>
                    <button class="nav-shopping"><i class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                    <li class="nav-menu-item"><a href="../views/fundas.html" class="nav-menu-link">Fundas</a></li>
                    <li class="nav-menu-item"><a href="../views/auriculares.html" class="nav-menu-link">Auriculares</a></li>
                    <li class="nav-menu-item"><a href="../views/popsockets.html" class="nav-menu-link">Popsockets</a></li>
                    <li class="nav-menu-item"><a href="../views/comecable.html" class="nav-menu-link link-hide">Comecable</a></li>
                    <li class="nav-menu-item"><a href="../views/templado.html" class="nav-menu-link link-hide">Templados</a></li>
                    <li class="nav-menu-item"><a href="../views/arosdeluz.html" class="nav-menu-link link-hide">Aros de luz</a></li>
                    <li class="more">
                        <a href="" class="nav-menu-link" id="bmore">Mas</a>
                        <div class="menu-more">
                            <a href="../views/comecable.html">Comecable</a>
                            <a href="../views/templado.html">Templados</a>
                            <a href="../views/arosdeluz.html">Aros de luz</a>
                        </div>
                    </li>
            </ul>
            <ul class="search">
                <li><a class="nav-menu-link" href="">Buscar</a></li>
                <li><a class="nav-menu-link" href="">Carrito</a></li>
                <li><a class="nav-menu-link" href="../views/registro.html">Login</a></li>
            </ul>
        </nav>
    </div>


    </header>

    <footer></footer>

</body>
</html>
